.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.time_control {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  input {
    width: 100%;
    padding: 1rem 0rem;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }
  p {
    padding: 1rem;
    text-align: center;
  }
}

.play_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 35%;
  svg {
    // font-size: 35px;
    cursor: pointer;
    &:first-of-type:hover, &:last-of-type:hover {
      scale: 1.2;
      transition: all 300ms;
    }
  }
  @media (max-width: 768px) {
    width: 80%;
  }
  .play_container {
    background: #bababa;
    padding: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover {
        scale: 1.1;
        transition: all 300ms;
      }
  }
}

input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  // position: absolute;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.track {
  background: lightblue;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.animate_track {
  background: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

.copyright {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1rem;
  color: rgb(55, 55, 55);
  a{
    text-decoration: underline;
    color: #005e0d;
  }
}

@media screen and (max-width: 768px) {
  .time_control {
    width: 90%;
  }
  .play_control {
    width: 60%;
  }
}
